<!DOCTYPE html>
<html>
<head>
  <title>Shop | Alpha Books</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <h3>Categories</h3>


</head>

<body>

  <%- include("../partials/header") %>

<main class="shop-container" style="display: flex; gap: 20px;">

  <!-- LEFT SIDEBAR -->
  <aside style="width: 200px;">
    <h3>Categories</h3>
  <ul>
  <% categories.forEach(cat => { %>
<li style="<%= selectedCategory == cat._id.toString() ? 'font-weight:bold;color:blue;' : '' %>">
  <a href="/shop?category=<%= cat._id %>">
    <%= cat.name %>
  </a>
</li>
  <% }) %>
</ul>
  </aside>

  <!-- RIGHT CONTENT -->
<section style="flex: 1;">
  <h1>Books Collection</h1>

  <% if (products.length === 0) { %>
    <p>No products available for this category</p>
  <% } else { %>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <strong><%= product.title %></strong><br>
          Price: ₹<%= product.price %>
        </li>
        <br>
      <% }) %>
    </ul>
  <% } %>

</section>

</main>

  <%- include("../partials/footer") %>

</body>
</html>